<div class="app-container">
  <!-- Header/Menu -->
  <app-toolbar (logoutEvent)="logout($event)" />

  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="content-message">
      @if((messageService.currentMessage$ | async)?.hasMessage){
        <app-message [Type]="(messageService.currentMessage$ | async)?.type ?? 'info'">{{ (messageService.currentMessage$ | async)?.message }}</app-message>
      }
    </div>
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="footer">
      <span>© {{ currentYear }} - {{ title }}</span>
      <span class="spacer"></span>
  </footer>
</div>
